<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigcat.app.dao.BetsOrderMapper">
  <resultMap id="BaseResultMap" type="com.bigcat.app.pojo.BetsOrder">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="bets_money" jdbcType="DECIMAL" property="betsMoney" />
    <result column="target_way" jdbcType="VARCHAR" property="targetWay" />
    <result column="player_id" jdbcType="VARCHAR" property="playerId" />
    <result column="game_id" jdbcType="VARCHAR" property="gameId" />
    <result column="period" jdbcType="BIGINT" property="period" />
    <result column="player_in" jdbcType="VARCHAR" property="playerIn" />
    <result column="finance_id" jdbcType="VARCHAR" property="financeId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="result_finance_id" jdbcType="VARCHAR" property="resultFinanceId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bigcat.app.pojo.BetsOrder">
    <result column="data" jdbcType="LONGVARCHAR" property="data" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_time, bets_money, target_way, player_id, game_id, period, player_in, finance_id, 
    status, result_finance_id
  </sql>
  <sql id="Blob_Column_List">
    data
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.bigcat.app.pojo.BetsOrderExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_bets_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.bigcat.app.pojo.BetsOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_bets_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.bigcat.app.pojo.BetsOrderExample">
    delete from t_bets_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bigcat.app.pojo.BetsOrder">
    insert into t_bets_order (id, create_time, bets_money, 
      target_way, player_id, game_id, 
      period, player_in, finance_id, 
      status, result_finance_id, data
      )
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{betsMoney,jdbcType=DECIMAL}, 
      #{targetWay,jdbcType=VARCHAR}, #{playerId,jdbcType=VARCHAR}, #{gameId,jdbcType=VARCHAR}, 
      #{period,jdbcType=BIGINT}, #{playerIn,jdbcType=VARCHAR}, #{financeId,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{resultFinanceId,jdbcType=VARCHAR}, #{data,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bigcat.app.pojo.BetsOrder">
    insert into t_bets_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="betsMoney != null">
        bets_money,
      </if>
      <if test="targetWay != null">
        target_way,
      </if>
      <if test="playerId != null">
        player_id,
      </if>
      <if test="gameId != null">
        game_id,
      </if>
      <if test="period != null">
        period,
      </if>
      <if test="playerIn != null">
        player_in,
      </if>
      <if test="financeId != null">
        finance_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="resultFinanceId != null">
        result_finance_id,
      </if>
      <if test="data != null">
        data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="betsMoney != null">
        #{betsMoney,jdbcType=DECIMAL},
      </if>
      <if test="targetWay != null">
        #{targetWay,jdbcType=VARCHAR},
      </if>
      <if test="playerId != null">
        #{playerId,jdbcType=VARCHAR},
      </if>
      <if test="gameId != null">
        #{gameId,jdbcType=VARCHAR},
      </if>
      <if test="period != null">
        #{period,jdbcType=BIGINT},
      </if>
      <if test="playerIn != null">
        #{playerIn,jdbcType=VARCHAR},
      </if>
      <if test="financeId != null">
        #{financeId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="resultFinanceId != null">
        #{resultFinanceId,jdbcType=VARCHAR},
      </if>
      <if test="data != null">
        #{data,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bigcat.app.pojo.BetsOrderExample" resultType="java.lang.Long">
    select count(*) from t_bets_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_bets_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.betsMoney != null">
        bets_money = #{record.betsMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.targetWay != null">
        target_way = #{record.targetWay,jdbcType=VARCHAR},
      </if>
      <if test="record.playerId != null">
        player_id = #{record.playerId,jdbcType=VARCHAR},
      </if>
      <if test="record.gameId != null">
        game_id = #{record.gameId,jdbcType=VARCHAR},
      </if>
      <if test="record.period != null">
        period = #{record.period,jdbcType=BIGINT},
      </if>
      <if test="record.playerIn != null">
        player_in = #{record.playerIn,jdbcType=VARCHAR},
      </if>
      <if test="record.financeId != null">
        finance_id = #{record.financeId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.resultFinanceId != null">
        result_finance_id = #{record.resultFinanceId,jdbcType=VARCHAR},
      </if>
      <if test="record.data != null">
        data = #{record.data,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update t_bets_order
    set id = #{record.id,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      bets_money = #{record.betsMoney,jdbcType=DECIMAL},
      target_way = #{record.targetWay,jdbcType=VARCHAR},
      player_id = #{record.playerId,jdbcType=VARCHAR},
      game_id = #{record.gameId,jdbcType=VARCHAR},
      period = #{record.period,jdbcType=BIGINT},
      player_in = #{record.playerIn,jdbcType=VARCHAR},
      finance_id = #{record.financeId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      result_finance_id = #{record.resultFinanceId,jdbcType=VARCHAR},
      data = #{record.data,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_bets_order
    set id = #{record.id,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      bets_money = #{record.betsMoney,jdbcType=DECIMAL},
      target_way = #{record.targetWay,jdbcType=VARCHAR},
      player_id = #{record.playerId,jdbcType=VARCHAR},
      game_id = #{record.gameId,jdbcType=VARCHAR},
      period = #{record.period,jdbcType=BIGINT},
      player_in = #{record.playerIn,jdbcType=VARCHAR},
      finance_id = #{record.financeId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      result_finance_id = #{record.resultFinanceId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>